APP_NAME=macbilling_v2
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://202.10.41.241:8080

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

MIKROTIK_TIMEOUT=5
MIKROTIK_ISOLATION_PROFILE=isolate

BROADCAST_CONNECTION=log
MAIL_MAILER=log
